#Latex generated
################
*.DS_store
*.aux
*.log
*.pdf
*.synctex.gz
*.toc
*.bbl
*.blg
*.lof


#python/ipython notebook generated stuff
########################################
*.pyc
*.ipynb
*.html

#Temp ignore
runGday/DUKE
